body { 
    background-image: url("backgroundMobile.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    margin-bottom: 40px;
    padding-bottom: 60px;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}


.row {
    justify-content: center;
}


h1 {
    font-family: 'Teko', sans-serif;
    font-size: 75px;
    vertical-align: top;
    letter-spacing: 2px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 60px;
    color: white;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

h3 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 10px;
    color: white;
}

h4 {
    font-size: 30px;
    margin-top: 10px;
    color: white;
    font-family: 'Catamaran', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

h5 {
    font-size: 20px;
    margin-top: 25px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    color: black;
}



p.text-center {
    font-size: 22px;
    margin-bottom: 40px;
    color: black;
    font-family: 'Catamaran', sans-serif;
}


.articles {
    margin-bottom: 50px;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 24px;

}

#articles a:link, a:visited, a:active {
    color: white;
}

#articles a:hover {
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:active {
    color: black;
}


.nav-item {
    font-size: 40px;
}

.navbar-brand {
    margin-left: 10px;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px grey;
}

.carouselLink {
    color: black;
}

.carouselContainer {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    justify-content: center;
}

.carouselText {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
}




@media (min-width: 900px){
    h1 {
        font-size: 150px;
        margin-top: 15px;
        letter-spacing: 8px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 60px;
        margin-top: 80px;
        letter-spacing: 8px;
    }

    h3 {
        font-size: 50px;
        margin-top: 50px;
    }

    h4 {
        font-size: 26px;
        margin-bottom: 60px;
        letter-spacing: 0.4px;
    }

    h5 {
        font-size: 40px;
    }

    .contact {
        font-size: 100px;
    }

    .articles {
        font-size: 24px;
    }

    .fa {
        color: white;
    }
    

    body {
        background: url("backgroundDesktop.jpg") no-repeat center top fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        overscroll-behavior: contain;
        margin-bottom: 40px;
        padding-bottom: 100px;
    }


    .nav-item {
        font-size: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-brand {
        margin-left: 20px;
        font-size: 40px;
        font-family: 'Teko', sans-serif;
        letter-spacing: 5px;
    }

    .navbar-nav {
        margin-left: auto;
    }

    .carousel-caption {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .carouselText {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 16px;
    }
    

    

}