body { 
    background-image: url("backgroundMobile.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    margin-bottom: 40px;
    padding-bottom: 20px;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}


.row {
    justify-content: center;
}


h1 {
    font-family: 'Wire One', sans-serif;
    font-size: 80px;
    vertical-align: top;
    letter-spacing: 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 10px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 30px;
    margin-top: 10px;
    color: white;
    font-family: 'Catamaran', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

h5 {
    font-size: 26px;
    margin-top: 25px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



p.text-center {
    font-size: 22px;
    margin-bottom: 40px;
    color: white;
    font-family: 'Catamaran', sans-serif;
}


.contact {
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.col-sm {
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255, 0.1);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px 50px 30px;
}

.articles {
    margin-bottom: 50px;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 24px;

}

#articles a:link, a:visited, a:active {
    color: white;
}

#articles a:hover {
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.fa {
    font-size: 80px;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(114, 18, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    margin-top: 40px;
}

.responsive {
    width: 100%;
    max-width: 550px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
}



@media (min-width: 900px){
    h1 {
        font-size: 150px;
        margin-top: 40px;
        letter-spacing: 8px;
    }

    h2 {
        font-size: 100px;
        margin-top: 80px;
        letter-spacing: 8px;
    }

    h3 {
        font-size: 50px;
        margin-top: 50px;
    }

    h4 {
        font-size: 40px;
    }

    h5 {
        font-size: 40px;
    }

    .contact {
        font-size: 100px;
    }

    .articles {
        font-size: 36px;
    }

    body {
        background: url("backgroundDesktop.jpg") no-repeat center top fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        overscroll-behavior: contain;
        margin-bottom: 40px;
        padding-bottom: 100px;
    }
    

}