body {
  background-attachment: fixed;
  background-image: url(images/peakpx.jpg);
  background-position: center;
  background-size: auto;
}

.main {
  margin-left: 0;
  margin-top: 15px;
  width: 100%;
}

.profile {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

#name {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

.self {
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 125px;
}

.details {
  font-size: 14px;
  margin-left: 10px;
}

.onlineNow {
  width: 60%;
}

.music {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

#musicPlayer {
  margin-top: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 0.01);
}

.contact {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

.contactLink {
  color: black;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

.contactLink:hover {
  letter-spacing: 1px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

#contact {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

#contactButton {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.buttons {
  margin-left: 5px;
  margin-right: 5px;
}

#colLeft {
  margin-right: 5px;
}

.skills {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

.skills ul {
  list-style-image: url(images/stars.png);
}

.skills li {
  font-size: 12px;
}

#skills {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

.education {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

.educationTitle {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

#education {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

.education ul {
  list-style-image: url(images/sun.png);
}

.schoolList li {
  font-size: 13px;
  margin-right: 10px;
}

.about {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

#about {
  margin-left: 10px;
  margin-top: 5px;
}

.aboutMe span {
  animation: moveDown 1.3s;
  animation-delay: calc(0.2s * var(--i));
  animation-fill-mode: both;
  color: black;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  font-size: 44px;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px rgb(175, 150, 243);
  white-space: nowrap;
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.experience {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

.experience ul {
  list-style-image: url(images/moon.png);
}

#experience {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

.experienceBox {
  margin-left: 0px;
  margin-right: 0px;
}

.jobList li {
  margin-right: 5px;
  font-size: 14px;
}

.accordion,
.accordion-item,
.accordion-body,
.accordion-collapse,
.accordion-button {
  background-color: rgba(255, 255, 255, 0.01);
}

.accordion-button {
  font-size: 14px;
  font-weight: 500;
}

.projects {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
}

#projects {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

.projectSquares {
  margin-left: 10px;
  margin-right: 10px;
}

#projectSquare {
  height: 50px;
  margin: 5px;
  width: 50px;
}

#projectImage {
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

#projectLink {
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

#projectLink:hover {
  letter-spacing: 1px;
  text-shadow: 1px 1px rgb(175, 150, 243);
}

footer {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .main {
    margin-left: 1%;
    margin-top: 1vh;
    width: 98%;
  }

  .about {
    margin-top: 0;
  }
}

@media (min-width: 899px) {
  .main {
    margin-left: 1%;
    margin-top: 1vh;
    width: 98%;
  }

  .profile {
    height: 20vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .music {
    height: 8vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .contact {
    height: 15vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .skills {
    height: 14vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .education {
    height: 33vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .about {
    height: 10vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .experience {
    height: 61vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .projects {
    height: 23vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  #projectLink {
    font-size: 13px;
  }
}

@media (min-width: 999px) {
  .main {
    margin-left: 5%;
    margin-top: 1vh;
    width: 90%;
  }

  .profile {
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .music {
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .contact {
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .skills {
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .education {
    margin-bottom: 0;
    margin-top: 0;
  }

  .about {
    height: 11vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .aboutMe span {
    margin-top: 10px;
  }

  .experience {
    height: 58vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .projects {
    height: 25vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  #projectLink {
    font-size: 14px;
  }
}

@media (min-width: 1199px) {
  .main {
    margin-left: 10%;
    margin-top: 5px;
    width: 80%;
  }

  .profile {
    height: 20vh;
    margin-bottom: 2vh;
  }

  .music {
    height: 8vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .skills {
    height: 13vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .education {
    height: 33vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .about {
    height: 10vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .aboutMe span {
    font-size: 44px;
    margin-top: 8px;
  }

  .experience {
    height: 57vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .projects {
    height: 26vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  #projectImage {
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }
}

@media (min-width: 1399px) {
  .main {
    margin-left: 11%;
    margin-top: 5px;
    width: 78%;
  }

  .skills {
    height: 13vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .about {
    margin-bottom: 2vh;
    margin-right: 0;
    margin-top: 0;
  }

  .experience {
    height: 54vh;
    margin-bottom: 2vh;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  .experienceBox {
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
  }

  .projects {
    height: 29vh;
    margin-right: 0;
    margin-top: 0;
  }
}

@media (min-width: 1599px) {
  .main {
    margin-left: 14%;
    margin-top: 10px;
    width: 72%;
  }

  .skills {
    height: 12vh;
  }

  .about {
    margin-right: 0;
    margin-top: 0;
  }

  .experience {
    height: 52vh;
    margin-bottom: 2vh;
    margin-left: 5px;
    margin-right: 0;
  }

  .experienceBox {
    margin-left: 10px;
    margin-right: 10px;
  }

  .projects {
    height: 30vh;
    margin-right: 0;
  }
}

@media (min-width: 1799px) {
  .main {
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
  }

  .contact {
    height: 15vh;
  }

  .about {
    margin-right: 0;
    margin-top: 0;
  }

  .experience {
    height: 55vh;
    margin-bottom: 2vh;
    margin-left: 5px;
    margin-right: 0;
  }

  .experienceBox {
    margin-left: 10px;
    margin-right: 10px;
  }

  .projects {
    margin-right: 0;
  }
}

@media (min-width: 1800px) {
  body {
    background-size: cover;
  }

  .main {
    margin-left: 20%;
    margin-top: 10px;
    width: 60%;
  }

  .profile {
    height: 22vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 25px;
  }

  .self {
    margin-left: 10px;
    width: 150px;
  }

  .music {
    height: 7vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 25px;
  }

  .contact {
    height: 14vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 25px;
  }

  .skills {
    height: 12vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 25px;
  }

  .education {
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 25px;
  }

  .about {
    height: 12vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .aboutMe span {
    margin-top: 15px;
  }
  .experience {
    height: 53vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
  }

  .experienceBox {
    margin-left: 10px;
    margin-right: 10px;
  }

  .jobList li {
    margin-right: 25px;
    font-size: 14px;
  }

  .projects {
    height: 27vh;
    margin-left: 0;
    margin-right: 0;
  }
}
